
@{
    ViewData["Title"] = "SuperSecretPage";
}

<h1>SuperSecretPage</h1>

Questa è una pagina super-segreta che può essere visualizzata solo se 
l'utente è correttamente autenticato alla piattaforma

